/* BASE CSS */
/* Author: Godnon Dsilva */

/* Imported fonts */
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* CSS */
body {
  background-color: rgb(32, 32, 32);
  font-family: 'Anton',  sans-serif;
  margin: 0;
}


body > main {
  color: #ddd;
  font-family: 'Open Sans' sans-serif !important;
}

body > main > center > h1 {
  text-transform: uppercase;
  color: #0077ff;
  font-size: 48px;
}

body > main > center > h3 {
	font-size: 18px;
	color: rgb(255, 255, 255);
}  

body > main > center > h2 {
	font-size: 25px;
	color: rgb(255, 255, 255);
}

body > main > center > h3 > a {
  text-transform: uppercase;
  font-size: 18px;
  color: rgb(0, 0, 0);
  background-color: #0077ff;
  text-decoration: none;
  padding: 1px 5px;
  border: 1px solid #0077ff;
  border-radius: 5px;
}